# Login data files.
1/mlclass-ex1/ml_login_data.mat
2/mlclass-ex2/ml_login_data.mat
3/mlclass-ex3/ml_login_data.mat
4/mlclass-ex4/ml_login_data.mat
5/mlclass-ex5/ml_login_data.mat
6/mlclass-ex6/ml_login_data.mat

